/* Styling for logo and its title */
.logo-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  color: white;
  width: 160px;
  cursor: pointer;
  margin-left: 2%;
  text-decoration: none;
}

.logo {
  font-size: 40px;
}

.logo-title {
  margin-top: 18px;
  font-size: 25px;
  font-weight: 600;
}

.stopwatch-container {
  height: 35px;
  display: flex;
  align-items: center;
  margin-right: 20px;
  padding: 0px 5px;
  font-size: 20px;
}
